.imgection{
    width: 300px;

}
.button{
    background-color: #95d0f8 !important;
}
@media screen and  (max-width:1019px){
    .imgection{
        width: 250px;
    
    }
    }
@media screen and  (max-width:600px){
    .imgection{
        width: 200px;
        margin: auto;
    
    }
    }