.logostores{
    width: 200px !important;
    cursor: pointer;
  
}
.rowLogoStores{
    justify-content: end;
}
.footerImg{
    height: 300px;
    background-color: #a0dcff;
    border-radius: 10px;
    overflow: hidden;
    padding: 0 10px;
}

@media screen and (max-width:772px) {

    .footerImg{
    height: 200px;
    background-color: transparent;
       width: 300px;

 

}
}
@media screen and (max-width:768px) {

    .footerImg{
    height: auto;
    padding: 0 !important;
    margin: 0!important;

}
}
@media screen and (max-width:400px) {

    .logostores{
        width: 180px !important;
      
      
    }
}
@media screen and (max-width:362px) {

    .logostores{
        width: 150px !important;
      
      
    }
}