
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    font-family: 'Roboto', sans-serif;
}
:root{

    --main-color:#478ec2;
    --second-color:#009
}

body{
    scroll-padding-top:100px !important;
    padding-top: 100px !important;
}

h1{
    font-size: 60px !important;
}
@media (prefers-reduced-motion: no-preference) {
    :root {
      scroll-behavior: inherit;
    }
  }

.text-main{
color: var(--main-color);
}

.bg-main{
background-color: var(--main-color);
}

.btn-main{
background-color: var(--second-color);

transition: 0.5s;
}
.btn-main:hover{
background-color: var(--main-color);

}
.btn-black{
    background-color: #333333;
    color: #fff;
    border-radius: 5px;
    transition: 0.5s;
    width: fit-content;
}
.btn-black:hover{
    background-color: #000000;
    color: #fff;

}
.homesection{
    width: 500px;
    max-width: 100%;
}

@media screen and  (max-width:1019px){
    .Mainsection{
        background-image: none;
        background-repeat: no-repeat;
        background-position: right center;
        
    }
    h1{
        font-size: 50px !important;
    }
}
.cursor-pointer{
    cursor: pointer;
}
a{
    text-decoration: none;
    color: #fff;

}

.active{
    font-weight:700;
    color: var(--main-color) !important;
}

.bg-second{
    background-color: #b3b3b3;
}
.notfound{
    background-image: url(../public/images/error.svg);
    height: 75vh;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}
